---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bottelegram_bot_token/getUpdates
    body:
      encoding: UTF-8
      string: offset=0&timeout=20
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {"ok":true,"result":[{"update_id":734243202,
        "message":{"message_id":34,"from":{"id":423203090,"is_bot":false,"first_name":"Mikhail","last_name":"Bogachev","username":"m_boga4ev","language_code":"ru"},"chat":{"id":423203090,"first_name":"Mikhail","last_name":"Bogachev","username":"m_boga4ev","type":"private"},"date":1728844902,"text":"/start","entities":[{"offset":0,"length":6,"type":"bot_command"}]}}]}
  recorded_at: Sun, 13 Oct 2024 18:49:54 GMT
recorded_with: VCR 6.3.1
